body{
    font-family: "Gill Sans", sans-serif;
    font-size: 1.2em;
    margin: 0;
    background-color: var(--theme-beige);
}

a{
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
    color: var(--theme-blue);
}

a:hover{
    color: var(--theme-orange);
    -webkit-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms;
}