.mainSec{
    display: flex;
    margin: 3%;
    justify-content: space-between;
    align-items: flex-start;
}

.sideBar{
    width: 20%;
}

.contentSec{
    width: 70%;
}

.backtotop{
    position: fixed;
    display: none;
    width: 30px;
    bottom: 40px;
    right: 40px;
}

.backtotop:hover{
    cursor: pointer;
    bottom: 42px;
}